<html>
<body>
Error for state machine with id: {{stateMachine.stateMachineId}}

<h2>Error</h2>

In state: {{stateMachine.currentState}}<br/>

Exception: {{stateMachine.context.exception}}<br/>

Context Message: {{stateMachine.context.message}}<br/>

<a href="/sm/">Home</a>

</body>
</html>