<html>
<body>
Error for state machine with id: {{context.stateMachineId}}

<h2>Error</h2>

In state: {{context.currentState}}<br/>

Exception: {{context.exception}}<br/>

Context Message: {{context.message}}<br/>

<a href="/sm/">Home</a>

</body>
</html>