<html>
<body>
Successfully finished for id: {{context.stateMachineId}}

<h2>Confirmed</h2>
{{#context.confirmedPins}}
    <li>{{.}}</li>
{{/context.confirmedPins}}

<a href="/sm/">Home</a>

</body>
</html>