<html>
<body>
Waiting for pin confirmation for id: {{stateMachineId}}

<h2>Waiting Confirmation</h2>
{{#nonConfirmedPins}}
    <form name="input" action="/sm/{{stateMachineId}}/pin/{{.}}/confirm" method="POST">
        <input type="submit" value="Confirm {{.}}">
    </form>
{{/nonConfirmedPins}}

<h2>Confirmed</h2>
{{#confirmedPins}}
    <li>{{.}}</li>
{{/confirmedPins}}

<a href="/sm/">Home</a>

</body>
</html>