<html>
<body>
Waiting for pin confirmation for id: {{context.stateMachineId}}

<h2>Waiting Confirmation</h2>
{{#context.nonConfirmedPins}}
    <form name="input" action="/sm/{{context.stateMachineId}}/pin/{{.}}/confirm" method="POST">
        <input type="submit" value="Confirm {{.}}">
    </form>
{{/context.nonConfirmedPins}}

<h2>Confirmed</h2>
{{#context.confirmedPins}}
    <li>{{.}}</li>
{{/context.confirmedPins}}

<a href="/sm/">Home</a>

</body>
</html>