<html>
<body>
    <form name="input" action="/sm/{{stateMachineId}}/pin/request" method="POST">
        <input type="text" name="pin">
        <input type="text" name="pin">
        <input type="text" name="pin">
        <input type="text" name="pin">
        <input type="text" name="pin">
        <input type="text" name="pin">
        <input type="submit" value="Request Pins">
    </form>

    <a href="/sm/">Home</a>
</body>
</html>