
.single-transition-component {

   width: 400px;
   height: 200px;
   float: left;
   position: relative;
   border: 1px solid red;

   span {
     position: relative;
     padding: 2px;
     margin: 15px 5px 15px 5px;
   }
}
